h1, h5 {
  text-align: center;
}

img {
  width: 50px;
  border-radius: 5px;
}

.container{
  text-align: center;
}

.product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border: #007bff 1px solid;
  border-radius: 5px;
}

.product-description {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 10px 10px;
  padding: 0 auto;
  width: 25px;
  height: 25px;
  background-color:  rgb(255, 184, 184);
  color: rgb(237, 100, 100);
  border: 1px solid rgb(237, 100, 100);
  border-radius: 10px;
  outline: none;

  :hover {
    background: rgb(255, 184, 184);
  }

  :active {
    background: rgb(237, 100, 100);
  }
}