<footer class="py-5 mt-5">
  <div class="row container">
    <div class="col-6 col-md">
      <h5>Навигация</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" routerLink="">Главная</a></li>
        <li><a class="link-secondary" routerLink="users">Пользователи</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Горячая линия</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">88005556677</a></li>
      </ul>
    </div>

    <div class="col-6 col-md">
      <h5>Социальные сети</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">
          <i class="fa fa-vk" aria-hidden="true"></i>
          Vkontakte
        </a></li>
        <li><a class="link-secondary" href="#">
          <i class="fa fa-telegram" aria-hidden="true"></i>
          Telegram
        </a></li>
        <li><a class="link-secondary" href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          Instagram
        </a></li>
      </ul>
    </div>
  </div>
</footer> 
