h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

.card {
  margin-bottom: 10px;
}

.card:hover {
  background: rgba(0,0,0,0.1);
}

.card-img:hover {
  background: rgba(0,0,0,0.5);
}


.btn-group {
  width: 100%;
}