.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #007bff;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  margin: 5px;
}

a:hover {
  color: white;
  background-color: #007bff;
}

img {
  width: 80%;
  margin-top: 15px;
  border-radius: 10px;
}