header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;

  p {
    margin-right: 10px;
  }
}

.active-link {
  font-weight: bold;
}

.btn-cart {
  margin-right: 10px;
}