
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">    
    <nav class="my-2 my-md-0 me-md-3">
      <p class="h5 my-0 me-md-auto fw-normal">Chelsea Store</p>
      <a class="p-2 text-dark"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink='/'>Главная</a>
        <a class="p-2 text-dark" routerLinkActive="active-link"
        routerLink='/catalog'>Каталог</a>
      <a class="p-2 text-dark" routerLinkActive="active-link"
        routerLink='/users'>Пользователи</a>
    </nav>
  
    <div class="group">
      <a class="btn btn-cart btn-outline-primary" routerLink='/cart'>
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        ({{productsService.cart.length}})
      </a>
      <a class="btn btn-outline-primary" routerLink='/login'>Войти</a>
    </div>

</header>

<router-outlet></router-outlet>

<app-footer></app-footer>